In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Q.1-Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [237]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [240]:
names=[]
Artists=[]
upload_dates=[]
views=[]

In [243]:
try:
    name_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in name_tags[0:10]:
        name=i.text
        names.append(name)

    Artist_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in Artist_tags[0:10]:
        Artist=i.text
        Artists.append(Artist)

    views_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in views_tags[0:10]:
        view=i.text
        views.append(view)

    upload_dates_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in upload_dates_tags[0:10]:
        upload_date=i.text
        upload_dates.append(upload_date)
    
except Exception as e:
    print("error:",str(e))

In [244]:
import pandas as pd
pd.DataFrame({'names':names,'Artists':Artists,'upload_dates':upload_dates,'views':views})

,names,Artists,upload_dates,views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07

Q.2-Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [245]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")

In [246]:
designation1=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
designation1.click()

In [247]:
Serieses=[]
Places=[]
Dates=[]
Times=[]

In [248]:
try:
    Series_tags=driver.find_elements(By.XPATH,'//div[@class="tags-wrap"]/span[1]')
    for i in Series_tags[0:6]:
        Series=i.text
        Serieses.append(Series)

    Place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in Place_tags[0:6]:
        Place=i.text
        Places.append(Place)


    Date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in Date_tags[0:6]:
        Date=i.text
        Dates.append(Date)


    Time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in Time_tags[0:6]:
        Time=i.text
        Times.append(Time)
        
except Exception as e:
    print("error:",str(e))

In [249]:
import pandas as pd
pd.DataFrame({'Serieses':Serieses,'places':Places,'Dates':Dates,'Times':Times})

,Serieses,places,Dates,Times
0,4th Test,"Himachal Pradesh Cricket Association Stadium, ...","23 FEBRUARY, 2024",9:30 AM IST
1,5th Test,"Harare Sports Club, Harare","7 MARCH, 2024",9:30 AM IST
2,1st T20I,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,2nd T20I,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,3rd T20I,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,4th T20I,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST

Q.3-Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [250]:
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [251]:
designation1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
designation1.click()

In [252]:
designation1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
designation1.click()

In [255]:
designation1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
designation1.click()

In [256]:
States=[]
GSDPs1=[]
GSDPs2=[]
Shares=[]
GDPs=[]
stateGDP=[]

In [258]:
try:
    States_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in States_tags:
        State=i.text
        States.append(State)


    GSDPs1_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in GSDPs1_tags:
        GSDP1=i.text
        GSDPs1.append(GSDP1)


    GSDPs2_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in GSDPs2_tags:
        GSDP2=i.text
        GSDPs2.append(GSDP2)


    Share_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in Share_tags:
        Share=i.text
        Shares.append(Share)

    
    GDP_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in GDP_tags:
        GDP=i.text
        GDPs.append(GDP)



    GDPs_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in GDPs_tags:
        GDPss=i.text
        stateGDP.append(GDPss)
        
except Exception as e:
    print("error:",str(e))

In [259]:
import pandas as pd
pd.DataFrame({'Rank':States,'GSDPs1':GSDPs1,'GSDPs2':GSDPs2,'Shares':Shares,'GDPs':GDPs,'stateGDP':stateGDP
})

   Rank                     GSDPs1     GSDPs2     Shares    GDPs stateGDP
0     1                Maharashtra          -  3,108,022  13.24%  417.163
1     2                 Tamil Nadu  2,364,514  2,071,286   8.82%  278.011
2     3              Uttar Pradesh  2,257,575  1,974,532   8.41%  265.024
3     4                  Karnataka  2,241,368  1,962,725   8.36%  263.440
4     5                    Gujarat          -  1,937,066   8.25%  259.996
5     6                West Bengal  1,554,992  1,363,926   5.81%  183.068
6     7                  Rajasthan  1,413,620  1,218,193   5.19%  163.507
7     8             Madhya Pradesh  1,322,821  1,136,137   4.84%  152.494
8     9             Andhra Pradesh  1,317,728  1,133,837   4.83%  152.185
9    10                  Telangana  1,313,391  1,128,907   4.81%  151.523
10   11                     Kerala          -    932,470   3.97%  125.157
11   12                      Delhi  1,043,759    904,642   3.85%  121.422
12   13                    Haryana    994,154    870,665   3.71%  116.862
13   14                     Odisha    774,869    670,881   2.86%   90.047
14   15                      Bihar    751,396    650,302   2.77%   87.284
15   16                     Punjab    673,107    614,227   2.62%   82.442
16   17                      Assam    493,167    412,612   1.76%   55.381
17   18               Chhattisgarh    457,608    406,416   1.73%   54.550
18   19                  Jharkhand    393,722    358,863   1.53%   48.167
19   20                Uttarakhand    302,621    272,159   1.16%   36.530
20   21         Jammu & Kashmir-UT    227,927    199,917   0.85%   26.833
21   22           Himachal Pradesh    195,405    176,269   0.75%   23.659
22   23                        Goa          -     82,604   0.35%   11.087
23   24                    Tripura     72,636     62,550   0.27%    8.396
24   25                 Chandigarh          -     45,635   0.19%    6.125
25   26                 Puducherry          -     44,238   0.19%    5.938
26   27                  Meghalaya     42,697     38,785   0.17%    5.206
27   28                     Sikkim     42,756     37,557   0.16%    5.041
28   29                    Manipur          -     36,594   0.16%    4.912
29   30          Arunachal Pradesh          -     35,124   0.15%    4.714
30   31                   Nagaland          -     31,913   0.14%    4.283
31   32                    Mizoram          -     27,824   0.12%    3.735
32   33  Andaman & Nicobar Islands          -     10,371   0.04%    1.392

Q.4-Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [260]:
driver=webdriver.Chrome()
driver.get("https://github.com/")

In [261]:
designation1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
designation1.click()

In [262]:
designation1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
designation1.click()

In [263]:
titles=[]
descriptions=[]
counts=[]
languages=[]

In [265]:
try:
    titles_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2')
    for i in titles_tags:
        title=i.text
        titles.append(title)


    descriptions_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in descriptions_tags:
        description=i.text
        descriptions.append(description)



    counts_tags=driver.find_elements(By.XPATH,'//div[@class="Box"]/div/article/div[2]/a[1]')
    for i in counts_tags:
        count=i.text
        counts.append(count)



    languages_tags=driver.find_elements(By.XPATH,'//div[@class="Box"]/div/article/div[2]/span[1]')
    for i in languages_tags:
        language=i.text
        languages.append(language)
        
except Exception as e:
    print("error:",str(e))

Q.5-Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:

In [273]:
driver=webdriver.Chrome()
driver.get("https://www.billboard.com/")

In [274]:
designation1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
designation1.click()

In [276]:
designation1=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
designation1.click()

In [277]:
Songs=[]
Artists=[]
LWRs=[]
Peakranks=[]
Weeks=[]

In [278]:
try:
    Songs_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
    for i in Songs_tags:
        Song=i.text
        Songs.append(Song)

    Artists_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
    for i in Artists_tags:
        Artist=i.text
        Artists.append(Artist)


    LWRs_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')
    for i in LWRs_tags:
        LWR=i.text
        LWRs.append(LWR)


    Peakranks_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')
    for i in Peakranks_tags:
        Peakrank=i.text
        Peakranks.append(Peakrank)


    Weeks_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')
    for i in Weeks_tags:
        Week=i.text
        Weeks.append(Week)
        
except Exception as e:
    print("error:",str(e))

In [279]:
import pandas as pd
pd.DataFrame({'Songs':Songs,'Artists':Artists,'Last week rank':LWRs,'Peak ranks':Peakranks,'Weeks on board':Weeks
})

,Songs,Artists,Last week rank,Peak ranks,Weeks on board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

Question.6-Scrape the details of Highest selling novels.

In [281]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [282]:
Books=[]
Authors=[]
Volumes=[]
Publishers=[]
Genres=[]

In [284]:
try:
    Books_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in Books_tags:
        Book=i.text
        Books.append(Book)

    Authors_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in Authors_tags:
        Author=i.text
        Authors.append(Author)


    Volumes_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in Volumes_tags:
        Volume=i.text
        Volumes.append(Volume)


    Publishers_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in Publishers_tags:
        Publisher=i.text
        Publishers.append(Publisher)


    Genres_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in Genres_tags:
        Genre=i.text
        Genres.append(Genre)
        
except Exception as e:
    print("error:",str(e))

In [285]:
import pandas as pd
pd.DataFrame({'Book':Books,'Author':Authors,'Volume':Volumes,'Publisher':Publishers,'Genre':Genres
})

,Book,Author,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question7-Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [228]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [229]:
Names=[]
Years=[]
Genres=[]
Runtimes=[]
Ratings=[]
Votes=[]

In [230]:
try:
    Names_tags=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-be6f1408-9 srahg dli-title"]')
    for i in Names_tags:
        Name=i.text
        Names.append(Name)

    Years_tags=driver.find_elements(By.XPATH,'//DIV[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]/span[1]')
    for i in Years_tags:
        Year=i.text
        Years.append(Year)


    Genres_tags=driver.find_elements(By.XPATH,'//span[@class="sc-be6f1408-1 dbnleL"]/span')
    for i in Genres_tags:
        Genre=i.text
        Genres.append(Genre)


    Runtime_tags=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]/span[2]')
    for i in Runtime_tags:
        Runtime=i.text
        Runtimes.append(Runtime)


    Ratings_tags=driver.find_elements(By.XPATH,'//div[@class="sc-e2dbc1a3-0 ajrIH sc-be6f1408-2 dAeZAQ dli-ratings-container"]/span')
    for i in Ratings_tags:
        Rating=i.text
        Ratings.append(Rating)

    Votes_tags=driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-0 cPpOqU"]')
    for i in Votes_tags:
        Vote=i.text
        Votes.append(Vote)
        
except Exception as e:
    print("error:",str(e))

In [231]:
import pandas as pd
pd.DataFrame({'Names':Names,'Years':Years,'Genres':Genres,'Runtimes':Runtimes,'Ratings':Ratings,'Votes':Votes
})

,Names,Years,Genres,Runtimes,Ratings,Votes
0,1. Game of Thrones,2011–2019,TV Series,18,9.2\n (2.3M),"Votes2,259,476"
1,2. Breaking Bad,2008–2013,TV Series,18,9.5\n (2.1M),"Votes2,106,976"
2,3. Stranger Things,2016–2025,TV Series,15,8.7\n (1.3M),"Votes1,318,281"
3,4. Friends,1994–2004,TV Series,15,8.9\n (1.1M),"Votes1,077,514"
4,5. The Walking Dead,2010–2022,TV Series,18,8.1\n (1.1M),"Votes1,070,517"
5,6. Sherlock,2010–2017,TV Series,15,9.1\n (988K),"Votes988,422"
6,7. The Big Bang Theory,2007–2019,TV Series,15,8.1\n (860K),"Votes860,199"
7,8. Dexter,2006–2013,TV Series,18,8.7\n (759K),"Votes758,921"
8,9. How I Met Your Mother,2005–2014,TV Series,15,8.3\n (723K),"Votes723,452"
9,10. The Office,2005–2013,TV Series,15,9.0\n (699K),"Votes698,676"
10,11. True Detective,2014–,TV Series,18,8.9\n (642K),"Votes641,831"
11,12. Peaky Blinders,2013–2022,TV Series,18,8.8\n (636K),"Votes636,431"
12,13. Better Call Saul,2015–2022,TV Series,15,9.0\n (636K),"Votes635,573"
13,14. The Boys,2019–,TV Series,18,8.7\n (634K),"Votes633,719"
14,15. Black Mirror,2011–,TV Series,18,8.7\n (632K),"Votes632,390"
15,16. Rick and Morty,2013–,TV Series,15,9.1\n (594K),"Votes593,804"
16,17. Lost,2004–2010,TV Series,15,8.3\n (590K),"Votes589,757"
17,18. The Mandalorian,2019–,TV Series,12,8.7\n (580K),"Votes579,726"
18,19. Vikings,2013–2020,TV Series,18,8.5\n (575K),"Votes575,345"
19,20. Prison Break,2005–2017,TV Series,15,8.3\n (574K),"Votes574,382"
20,21. The Witcher,2019–,TV Series,15,8.0\n (565K),"Votes564,616"
21,22. Squid Game,2021–,TV Series,15,8.0\n (530K),"Votes530,492"
22,23. Westworld,2016–2022,TV Series,18,8.5\n (529K),"Votes529,307"
23,24. House of Cards,2013–2018,TV Series,18,8.6\n (528K),"Votes527,959"
24,25. Money Heist,2017–2021,TV Series,15,8.2\n (526K),"Votes526,008"
25,26. House M.D.,2004–2012,TV Series,15,8.7\n (504K),"Votes504,269"
26,27. The Last of Us,2023–,TV Series,15,8.8\n (501K),"Votes501,038"
27,28. Attack on Titan,2013–2023,TV Series,15,9.1\n (498K),"Votes497,768"
28,29. Supernatural,2005–2020,TV Series,15,8.4\n (479K),"Votes478,581"
29,30. Modern Family,2009–2020,TV Series,12,8.5\n (477K),"Votes476,500"
30,31. Suits,2011–2019,TV Series,15,8.4\n (471K),"Votes471,368"
31,32. Daredevil,2015–2018,TV Series,15,8.6\n (471K),"Votes470,901"
32,33. Narcos,2015–2017,TV Series,15,8.8\n (465K),"Votes465,180"
33,34. The Sopranos,1999–2007,TV Series,18,9.2\n (462K),"Votes461,961"
34,35. Arrow,2012–2020,TV Series,15,7.5\n (445K),"Votes444,592"
35,36. Dark,2017–2020,TV Series,15,8.7\n (437K),"Votes437,121"
36,37. The Simpsons,1989–,TV Series,15,8.7\n (433K),"Votes432,689"
37,38. Fargo,2014–2024,TV Series,15,8.9\n (416K),"Votes415,669"
38,39. Mr. Robot,2015–2019,TV Series,15,8.5\n (415K),"Votes414,820"
39,40. Loki,2021–2023,TV Series,12,8.2\n (406K),"Votes406,103"
40,41. South Park,1997–,TV Series,18,8.7\n (403K),"Votes403,062"
41,42. The Wire,2002–2008,TV Series,18,9.3\n (373K),"Votes372,632"
42,43. Death Note,2006–2007,TV Series,12,8.9\n (372K),"Votes372,066"
43,44. The Flash,2014–2023,TV Series,12,7.5\n (367K),"Votes366,761"
44,45. House of the Dragon,2022–,TV Series,18,8.4\n (363K),"Votes363,130"
45,46. Family Guy,1999–2025,TV Series,14+,8.2\n (362K),"Votes361,687"
46,47. Homeland,2011–2020,TV Series,15,8.3\n (359K),"Votes359,060"
47,48. Avatar: The Last Airbender,2005–2008,TV Series,PG,9.3\n (357K),"Votes357,424"
48,49. Brooklyn Nine-Nine,2013–2021,TV Series,15,8.4\n (356K),"Votes355,692"
49,50. Wednesday,2022–,TV Series,12,8.1\n (353K),"Votes352,712"

Question.8-Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [164]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [165]:
designation1=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
designation1.click()

In [168]:
Datasets=[]
Datatypes=[]
Tasks=[]
Attributes=[]
instances=[]
Numbers=[]

In [169]:
try:
    Datasets_tags=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2')
    for i in Datasets_tags:
        Dataset=i.text
        Datasets.append(Dataset)

    Datatypes_tags=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/p')
    for i in Datatypes_tags:
        Datatype=i.text
        Datatypes.append(Datatype)


    Tasks_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
    for i in Tasks_tags:
        Task=i.text
        Tasks.append(Task)


    Attributes_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
    for i in Attributes_tags:
        Attribute=i.text
        Attributes.append(Attribute)


    instances_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
    for i in instances_tags:
        instance=i.text
        instances.append(instance)

    Numbers_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
    for i in Numbers_tags:
        Number=i.text
        Numbers.append(Number)
        
except Exception as e:
    print("error:",str(e))

In [171]:
import pandas as pd
pd.DataFrame({'Datasets':Datasets,'Datatypes':Attributes,'Tasks':Tasks,'instances':instances,'Numbers':Numbers
})

,Datasets,Datatypes,Tasks,instances,Numbers
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features
2,Heart Disease,Multivariate,Classification,303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,48.84K Instances,14 Features
5,Raisin,Multivariate,Classification,900 Instances,8 Features
6,Wine,Tabular,Classification,178 Instances,13 Features
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features